In [6]:
import pandas as pd
df = pd.read_csv("./movies.csv")
df

                  actor                                   movie_or_TV_name
0     Armando Mundaraín                              Terminator: Dark Fate
1     Armando Mundaraín                                            The Spy
2     Armando Mundaraín                                             Ransom
3     Armando Mundaraín                                          Aranyélet
4     Armando Mundaraín                                             Tyrant
...                 ...                                                ...
2233      Georgia Simon  Marilyn Hotchkiss' Ballroom Dancing & Charm Sc...
2234      Georgia Simon                                                Liv
2235      Georgia Simon                                            Reunion
2236      Georgia Simon                                             Mafia!
2237      Georgia Simon                                          Ballistic

[2238 rows x 2 columns]

In [7]:
new_df = df['movie_or_TV_name'].value_counts()
new_df

Terminator: Dark Fate     81
Centro médico              9
Amar es para siempre       8
Doctors                    7
The Martian                6
                          ..
Hot and Stupid             1
Buried in the Backyard     1
Angie Tribeca              1
Murder Loves Company       1
Ballistic                  1
Name: movie_or_TV_name, Length: 1926, dtype: int64

In [153]:
new_df = new_df.head(8).rename_axis('movie').reset_index(name='number of shared actors')
new_df

                   movie  number of shared actors
0  Terminator: Dark Fate                       81
1          Centro médico                        9
2   Amar es para siempre                        8
3                Doctors                        7
4            The Martian                        6
5       Hospital Central                        6
6                 Tyrant                        5
7           The Alienist                        5