In [142]:
import pandas as pd
df = pd.read_csv("./results.csv")
df

               actor                          movie_or_TV_name
0      Stephen Macht  Alexander Parlee: As Long as You Need Me
1      Stephen Macht                                     Suits
2      Stephen Macht                                     Doubt
3      Stephen Macht                             The Mentalist
4      Stephen Macht             Atlas Shrugged II: The Strike
...              ...                                       ...
47298   Nana Visitor                               Ryan's Hope
47299   Nana Visitor                              The Sentinel
47300   Nana Visitor                         Ivan the Terrible
47301   Nana Visitor                          One Life to Live
47302   Nana Visitor                               The Doctors

[47303 rows x 2 columns]

In [144]:
new_df = df['movie_or_TV_name'].value_counts()
new_df

Star Trek: Deep Space Nine        819
ER                                179
Star Trek: Voyager                152
Star Trek: The Next Generation    151
NYPD Blue                         149
                                 ...
Hollis & Rae                        1
Daltry Calhoun                      1
Hell to Pay                         1
Glass Trap                          1
Ivan the Terrible                   1
Name: movie_or_TV_name, Length: 19670, dtype: int64

In [145]:
new_df = new_df.head(8).rename_axis('movie').reset_index(name='number of shared actors')
new_df

                            movie  number of shared actors
0      Star Trek: Deep Space Nine                      819
1                              ER                      179
2              Star Trek: Voyager                      152
3  Star Trek: The Next Generation                      151
4                       NYPD Blue                      149
5                        L.A. Law                      143
6               Murder, She Wrote                      133
7                             JAG                      130